.box-display-plain {
    background: #ffffff !important;
    --tw-drop-shadow: drop-shadow(0 4px 3px rgba(0, 0, 0, .07)) drop-shadow(0 2px 2px rgba(0, 0, 0, .06)) !important;
    filter: var(--tw-drop-shadow) !important;
    border: none !important;
}